.App {
  text-align: center;
  border-color: black;
  border: #282c34;
  background-color: rgb(211, 211, 230);
  padding: auto;
  align-items: center;
  display: flex;
  margin: 5%;
  justify-content: center;
  flex-direction: column;
  max-width: max-content;
}

.App-header {
  background-color: #282c34;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: white;
}
